<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Newsletter/portalnews for apparels around Indonesia">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../public/images/icon.png">
  <link rel="apple-touch-icon" href="../public/images/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">  
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>LocaLooks - Your local Fashion Looks</title>
</head>
<body>
  <navigation-bar></navigation-bar>
<main> 
  <main id="content">
  </main>
</main>
<footer>
    <a href="#/AboutUs">About Us</a>
  <h1>copyright© 2023 - LocaLooks</h1>
</footer>
</body>
</html>
