<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Newsletter/portalnews for apparels around Indonesia">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="dicoding:email" content="F015XB156@dicoding.org">

  <link rel="icon" href="./localooks.png">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">

  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
  <title>LocaLooks - Your Local Fashion Looks</title>
</head>

<body>
  <navigation-bar></navigation-bar>
  <main>
    <main id="content">
    </main>
  </main>
  <footer>
    <h1>Copyright© 2023 - LocaLooks</h1>
  </footer>
</body>
</html>