<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Newsletter/portalnews for apparels around Indonesia">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../public/images/icon.png">
  <link rel="apple-touch-icon" href="../public/images/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">  
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>LocaLooks - Your local Fashion Looks</title>
</head>
<body>
  <header>
    <button id="skip-to-content" tabindex="1" class="skip-to-content" href="#explore">
      Skip To Content
    </button>
    <div class="headerInner">
        <img src="images/icon-small.png" class="headerLogo" alt="">
      <button id="menu" class="headerMenu" hidden href="#drawer.open">☰</button>  <nav id="drawer" class="nav">
    <ul class="navbar">
      <li class="navItem"><a href="/">Home</a></li>
      <li class="navItem"><a href="#/brands">Brands</a></li>
      <li class="navItem"><a href="https://github.com/milkycheddar/LocaLooks">About Us</a></li>
    </ul>
    </nav>
  </div>
  </header>
<main>
  <section>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" id="erigoHero">
            <img src="images/ErigoBanner.jpg" class="d-block w-100" alt="ErigoBanner">
          </div>
          <div class="carousel-item">
            <img src="images/compassBanner.jpg" class="d-block w-100" alt="compassBanner">
          </div>
          <div class="carousel-item">
            <img src="images/mdBanner.jpg" class="d-block w-100" alt="mdBanner">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <div id="explore">
      <h1>Brands of the Day</h1>
      <div id="catalogs" class="catalogs"></div>
    </div>
  </section>
</main>
<footer>
    <a href="#/AboutUs">About Us</a>
  <h1>copyright© 2023 - LocaLooks</h1>
</footer>
</body>
</html>
