.about-us {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #333;
  font-size: 24px;
}

h3 {
  color: #666;
  font-size: 18px;
}

p {
  color: #555;
  line-height: 1.5;
}

ul {
  color: #555;
  margin-left: 20px;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

.socialMedia {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
  color: white;
  background: #9746a6;
}


