* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #424242;
}

/*
 * Header
 *
 */

.skip-to-content {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: #2c9330;
  color: white;
  z-index: 100;
}

.skip-to-content:focus {
  top: 0;
}

.headerInner {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.headerLogo {
  margin: 10px 10px 10px 10px;
  min-width: 100%;
  max-width: 220px;
}

@media screen (max-width: 599px) {
  .headerLogo {
    width: 100%;
    max-width: 220px;
    min-width: 100%;
    padding: 10px 10px;
  }
}

.headerMenu {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  min-width: 45px;
  min-height: 45px;
}

.headerMenu:focus,
.headerMenu:hover {
  color: green;
}

.headerTitle {
  display: inline-block;
  font-weight: 300;
  font-size: 4em;
  margin: auto;
  color: #212121;
  text-align: left;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  font-size: large;
  width: 100%;
  text-align: center;
}

.navbar a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
  color: #000000;
  font-weight: 800;
}

.navbar a:hover {
  text-decoration: underline;
  color: #f51414;
}

.navItem {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  line-height: 3rem;
  vertical-align: middle;
  text-transform: uppercase;
  min-width: 45px;
  min-height: 45px;
}

.drawerItem {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  line-height: 3rem;
  vertical-align: middle;
  text-transform: uppercase;
  min-width: 45px;
  min-height: 45px;
  font-size: 10px;
}

#menu {
  font-size: 32px;
  text-decoration: none;
  color: black;
  min-width: 44px;
  min-height: 44px;
  width: 100%;
  text-align: center;
}

#drawer {
  width: 250px;
  position: absolute;
  padding: 10px;
  display: none;
  z-index: 999;

  /* menyembunyikan #drawer -250px (sesuai dengan ukuran lebar drawer) ke kiri */
  transform: translate(0px, 0);
  transition: transform 0.3s ease-in-out;
  background-color: #111;
}

#drawer ul {
  list-style-type: none;
  padding: 0 16px;
}

#drawer li {
  padding: 5px 0px;
  min-width: 45px;
  min-height: 45px;
}

#drawer a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  min-width: 45px;
  min-height: 45px;
}

#drawer a:hover {
  text-decoration: underline;
  font-size: 25px;
  color: #79e0ee;
  min-width: 45px;
  min-height: 45px;
}

#drawer.open {
  transform: translate(0, 0);
  display: block;
}

@media screen and (max-width: 911px) {
  #nav {
    display: none;
  }

  .headerLogo {
    width: 100%;
    max-width: 220px;
    min-width: 100%;
    padding: 5px 5px;
  }
}

@media screen and (max-width: 280px) {
  #nav {
    display: none;
  }
}

@media screen and (min-width: 912px) {
  #drawer {
    position: relative;
    transform: translate(0, 0);
  }

  #menu {
    display: none;
  }
}

/*
 * Jumbotron
 */

.jumbotron {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  min-height: 500px;
  background: #fff;
  background-image: url('../public/images/compassBanner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.jumbotron-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.jumbotron-inner {
  align-self: center;
  text-align: center;
  max-width: 60%;
  position: absolute;
  color: #ffffff;
  z-index: 2;
}

.jumbotron-title {
  color: #ffffff;
  font-weight: 1000;
  font-size: 40px;
  text-shadow: 2px 2px 8px #000000;
}

.jumbotron-tag {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px 8px #000000;
}

.cards-container {
  display: grid;
  grid-row-gap: 8px;
  grid-template-columns: repeat(4, 1fr);
}

.team-title {
  background-color: #fff;
}

.team-title h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  background-color: #fff;
}

.team-card {
  padding: 30px 30px;
  background-color: var(--thm-white);
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.07);
  position: relative;
}
.team-card-img {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
.team-card-img img {
  height: 210px;
  width: 210px;
  padding: 10px 10px;
  background-color: var(--thm-white);
  border-radius: 50%;
  position: relative;
  transition: all 500ms ease;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23E1E8EAFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 100px;
}
.team-card:hover .team-card-img img {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='black' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 100px;
}
.team-card-icon {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: -15px;
  opacity: 0;
  transition: opacity 500ms ease;
}
.team-card:hover .team-card-icon {
  opacity: 1;
}
.team-card-icon a {
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: var(--thm-white);
  border-radius: 50%;
  text-align: center;
  position: relative;
}
.team-card-icon a:hover {
  background-color: var(--thm-black);
}
.team-card-icon a + a {
  margin-left: 10px;
}
.team-card-icon .pinterest {
  background-color: #f0312c;
  top: -10px;
}
.team-card-icon .twitter {
  background-color: #49befa;
}
.team-card-icon .facebook {
  background-color: #3656f6;
  top: -10px;
}
.team-card-content {
  text-align: center;
}
.team-card-content h4 {
  font-size: 20px;
  margin-bottom: 0px;
}
.team-card-content h4 > a {
  color: inherit;
  transition: all 500ms ease;
}
.team-card:hover h4 > a {
  color: var(--thm-primary);
}
.team-card-content p {
  margin-bottom: 0;
}
.team-card:after {
  position: absolute;
  content: '';
  bottom: 0px;
  left: 0;
  right: 0;
  height: 4px;
  width: 100%;
  transform: scaleY(0);
  transition: all 500ms ease;
  background-color: var(--thm-primary);
}
.team-card:hover:after {
  transform: scaleY(1);
}

.content-item {
  position: relative;
}

.content-item img {
  transition: opacity 0.3s ease-in-out;
  width: 100%;
}

.content-item:hover img {
  opacity: 0.4;
}

.content-item#erigoHero:hover::before {
  content: '';
  text-align: right;
  box-sizing: border-box;
  vertical-align: middle;
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../public/images/erigoLogo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  width: 50%;
  height: 50%;
}

.content-item#compassHero:hover::before {
  content: '';
  text-align: right;
  box-sizing: border-box;
  vertical-align: middle;
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../public/images/compassLogo.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  width: 50%;
  height: 50%;
}

.content-item#mdHero:hover::before {
  content: '';
  text-align: right;
  box-sizing: border-box;
  vertical-align: middle;
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../public/images/mdLogo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  width: 50%;
  height: 50%;
}

.content-item:hover::before {
  opacity: 1;
}

/*
 * main
 */

main {
  width: 100%;
  margin: 0 auto;
}

#explore {
  text-align: center;
  padding: 2rem;
}

/*
 * Card
 */

.r__catalog {
  margin: auto;
  border: 3px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 20px;
}

.r__catalog:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.r__img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}

.r__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.r__name {
  font-size: 18px;
  font-style: oblique;
}

.r__desc,
.r__city,
.r__rating {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.r__button {
  display: flex;
  justify-content: center;
}

.r__button button {
  display: block;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.r__button button:hover {
  background-color: #3e8e41;
}

/*
 * Detail-item
 */
.r__detail h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.r__detailImg img {
  width: 100%;
}

.r__detailInfo {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  text-align: justify;
}

.menu,
.reviews {
  font-size: medium;
}

/*
   Like
*/

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like:hover {
  transition: ease 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

.favorite {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

/*
 * footer
 */

footer {
  padding: 2em;
  width: 100%;
  text-align: center;
  background-color: #98eecc;
}

footer h1 {
  font-size: 18px;
}

footer h1:hover {
  transition: ease 0.3s;
  opacity: 0.8;
}
