@media screen and (max-width: 599px) {
  .headerLogo {
    width: 100%;
    max-width: 220px;
    min-width: 100%;
    padding: 10px 10px;
  }
}

@media screen and (max-width: 911px) {
  #nav {
    display: none;
  }

  @media screen and (max-width: 280px) {
    #nav {
      display: none;
    }
  }
}

  @media screen and (min-width: 911px) {
    #drawer {
      position: relative;
      transform: translate(0, 0);
    }

    #menu {
      display: none;
    }
  }
